<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpg" href="fall_prevention_web/assets/img/icon.png">
    <title>Fall Prevention System</title>
    <link href="fall_prevention_web/assets/css/black-dashboard.min.css" rel="stylesheet">
    {{ turbo() }}
</head>

<body class>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-normal"> Dashboards </a>
                </div>
                <ul class="nav">
                    <li class="">
                        <a href="{{ url_for('home') }}">
                            <p>All Patients</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ url_for('patient') }}">
                            <p>Patient #1</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/">
                            <p>Add Patient</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:void(0)"> <img
                                src="fall_prevention_web/assets/img/icon.png" class="image" width="50" height="50">
                            FP</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="input-group d-flex align-items-center mb-0">
                                <label class="switch theme-switch">
                                    <p style="color:#1EDDFF;"> Night Mode</p>
                                    <input type="checkbox" class="bsc" checked>
                                    <span class="slider"></span>
                                </label>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog"
                aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                {% for mesg in get_flashed_messages() %}
                <h2 style="color:red;" align="center" > {{ mesg }} </h2>
                {% endfor %}            
                <form method="GET" action="">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">Name</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="name" value="{{ patient.name }}" />
                                    </h3>
                                    <h5 class="card-category">ID</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="id" value="{{ patient.id }}" />
                                    </h3>
                                    <h5 class="card-category">Age</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="age" value="{{ patient.age }}" />
                                    </h3>
                                    <h5 class="card-category">Weight (kg)</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="weight" value="{{ patient.weight }}" />
                                    </h3>
                                    <h5 class="card-category">Height (cm)</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="height" value="{{ patient.height }}" />
                                    </h3>
                                    <h5 class="card-category">Sex</h5>
                                    <h3 class="card-title">
                                        <select name="sex">
                                            {%for key, val in sex_dict.items():%}
                                                {% if key == patient.sex %}
                                                    <option value={{ key }} selected="selected"> {{ val['name'] }}</option>
                                                {% else %}
                                                    <option value={{ key }}> {{ val['name'] }}</option>
                                                {% endif %}
                                            {%endfor%}
                                            </select>                                          
                                        </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">Floor</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="floor" value="{{ patient.floor }}" />
                                    </h3>
                                    <h5 class="card-category">Room</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="room" value="{{ patient.room }}" />
                                    </h3>
                                    <h5 class="card-category">Bed</h5>
                                    <h3 class="card-title">
                                        <input type="text" name="bed" value="{{ patient.bed }}" />
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">Doctor</h5>
                                    <h3 class="card-title">
                                        <select name="doctor">
                                            {%for key, val in doctor_dict.items():%}
                                                {% if key == patient.doctor %}
                                                    <option value={{ key }} selected="selected"> {{ val['name'] }}</option>
                                                {% else %}
                                                    <option value={{ key }}> {{ val['name'] }}</option>
                                                {% endif %}
                                            {%endfor%}
                                        </select>                                          
                                    </h3>
                                    <h5 class="card-category">Nurse</h5>
                                    <h3 class="card-title">
                                        <select name="nurse">
                                            {%for key, val in nurse_dict.items():%}
                                                {% if key == patient.nurse %}
                                                    <option value={{ key }} selected="selected"> {{ val['name'] }}</option>
                                                {% else %}
                                                    <option value={{ key }}> {{ val['name'] }}</option>
                                                {% endif %}
                                            {%endfor%}
                                            </select>                                          
                                        </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
    <script type=text/javascript src="fall_prevention_web/assets/js/core/jquery.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/core/popper.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/core/bootstrap.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/plugins/chartjs.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/plugins/bootstrap-notify.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/black-dashboard.min.js"></script>
    <script type=text/javascript src="fall_prevention_web/assets/js/themeSettings.js"></script>
</body>
</html>